#Q1.

You are working in a bank and you have been given two lists of the employees who
worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and
Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write
a program which helps to identify people who are common in both lists. Please do not use
any in-built function.

In [1]:
list1=["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob","Saritha"]
list2=["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]

In [3]:
type(list1)

set

In [4]:
list1.intersection(list2)

{'Ali', 'Jacob', 'Mahesh'}

# Q2: 

While entering data, someone entered a few names as a common string “Ramesh
Suresh Mohit”. Please write a program which separates all the names and convert them
into a list. Once converted in a list, please write a program which adds their age.
Ramesh : 25
Suresh : 22
Mohit : 26

In [7]:
Name="Ramesh Suresh Mohit"

In [24]:
new_name=Name.split(' ')

In [25]:
type(new_name)
print(new_name)

['Ramesh', 'Suresh', 'Mohit']

In [26]:
age=[25,22,26]

In [27]:
list(zip(new_name,age))

[('Ramesh', 25), ('Suresh', 22), ('Mohit', 26)]

In [28]:
name_age={}
for i, j in zip(new_name,age):
  name_age[i]=j

In [29]:
print(name_age)

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

#Q3: 

A few students from a university have taken three exams
Name = Sam, Jacy, Tom, Steve
Python = 25, 26, 29, 28
Statistics = 23, 21, 19, 25
SQL = 29, 27, 28, 25
Please write a program which calculates mean values (no in-built function for mean) of all
three tests and print the highest mean value. Addition and other functions are allowed.
Please also report who scored the highest mark in python using programming construct.

In [135]:
Name = ["Sam", "Jacy", "Tom", "Steve"]
Python = [25, 26, 29, 28]
Statistics = [23, 21, 19, 25]
SQL = [29, 27, 28, 25]

In [144]:
#Python
total=0
for i in Python:
  total+=i
python_mean=print("Python Mean =", total/len(Python))
python_mean=(total/len(Python))

#Satistics
total=0
for i in Statistics:
  total+=i
stat_mean=print("Statistics Mean =",total/len(Statistics))
stat_mean=(total/len(Statistics))

#SQL
total=0
for i in SQL:
  total+=i
sql_mean=print("SQL Mean =", total/len(SQL))
sql_mean=(total/len(SQL))

highest_mean=[stat_mean,python_mean,sql_mean]
print("Highest Mean = ",max(highest_mean))

print("Highest marks in python = ",max(Python))
#Python Topper
list(zip(Name,Python))
Python_topper={}
for i, j in zip(Name,Python):
  Python_topper[i]=j
print("Python Topper is = ", max(Python_topper))

Python Mean = 27.0
Statistics Mean = 22.0
SQL Mean = 27.25
Highest Mean =  27.25
Highest marks in python =  29
Python Topper is =  Tom

# Q4: 

You are working in a medical store. A patient came to your medical store and asked to
buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip
of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each
medicine, total cost of all medicine and how much money you refunded to the patient?

In [164]:
paracetamol=int(input(" Enter the quantity of paracetamol: "))*35
azithromycin=int(input(" Enter the quantity of azithromycin: "))*49
Vitamin_C=int(input(" Enter the quantity of Vitamin_C: "))*33
total=paracetamol+azithromycin+Vitamin_C
print("Total cost of paracetamol = ",paracetamol)
print("Total cost of azithromycin = ",azithromycin)
print("Total cost of Vitamin C = ",Vitamin_C)
print("Grand Total Amount=  ", total)
cust_amount=int(input("How much money given by customer?: "))

if total!=cust_amount:
  print("Amount to be return to customer = ",cust_amount-total)
else:
  print("No need to return any money")

 Enter the quantity of paracetamol: 2
 Enter the quantity of azithromycin: 3
 Enter the quantity of Vitamin_C: 5
Total cost of paracetamol =  70
Total cost of azithromycin =  147
Total cost of Vitamin_C =  165
 Grand Total Amount=   382
How much money given by customer?: 2000
Amount to be return to customer =  1618

# Q5: 

Accept a sentence as input and find the number of vowels in it. Assume that the
sentence has no punctuation marks. For example: I am learning python contains 6
vowels. This function should be applicable for all other different sentences.

In [212]:
sentence1=str(input("Type a sentence: "))
total=0
sentence2=sentence1.lower()
for i in sentence2:
  vowels=("aeiou")
  if i in vowels:
    total=total+1
print(total)

Type a sentence: my name Is Khan
4

In [204]:
total=0
sentence1="I am learning python"
sentence2=sentence1.lower()
for i in sentence2:
  
  vowels=("aeiou")
 
  if i in vowels:
    total=total+1
print(total)

6

# Q6: 

You have been appointed by the election commission to create a website. Your first
task is to work on a program which tells candidates if they are eligible for voting or not. If
they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell
that you have to return after X number of years. Eligibility criteria for voting is 18 years.
For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’.
If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [221]:
age=18
current_age=int(input("Enter your age: "))
year=age-current_age
if current_age<18:
  print("Return after ", year, "Years")
else:
  print("Congrats! You are eligible")

Enter your age: 15
Return after  3 Years